#media {
    background-color: #fafafa;
    height: 60px;
    width: 100%;
}

#media audio {
    display: none;
}

#media #media-information p {
    display: block;
    height: 30px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    line-height: 30px;
}

#media #media-controls {
    display: flex;
    height: 30px;
}

#media #media-controls .media-control {
    color: #343a40;
    display: inline-block;
    width: 30px;
    line-height: 30px;
    text-align: center;
}

#media #media-controls .media-range {
    position: relative;
    margin: 0 5px;
    height: 100%;
}

#media #media-controls .media-range input {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    margin: 10px 0;
    background-color: #d3d3d3;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #343a40), color-stop(100%, #343a40));
}

#media #media-controls .media-range input:focus {
    outline: 0 !important;
}

#media #media-controls .media-range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    background: #343a40;
    cursor: pointer;
    border-radius: 5px;
}

#media #media-controls #media-progress {
    width: 100%;
}

#media #media-controls #media-volume {
    width: 10%;
}